$colors: (
  darkblue: #264065,
  gray: #909090,
  black: #070d15,
  cyan: #a9d6cb,
  "light-white": #faf8f5,
  background: white,
);

$font-weights: (
  400: 400,
  500: 500,
  700: 700,
);

$font-sizes: (
  text: 1.125rem,
  main-title: 4rem,
  subtitle: 2.25rem,
);
