@use "../abstracts" as *;

.button {
  // @extend %btn;
  background-color: var(--clr-darkblue);
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 3.125rem;
  text-decoration: none;

  &:hover {
    background-color: lighten(#264065, 10%);
  }
}

.link {
  color: var(--clr-darkblue);
  &:hover {
    color: lighten(#264065, 10%);
  }
}
