@use "../abstracts" as *;
@use "sass:color";

.button {
  background-color: var(--clr-darkblue);
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 3.125rem;
  text-decoration: none;

  &:hover {
    background-color: color.scale($color: #264065, $lightness: 10%);
  }
}

.link {
  color: var(--clr-darkblue);
  &:hover {
    color: lighten(#264065, 10%);
  }
}

.button-secondary {
  background-color: transparent;
  color: var(--clr-darkblue);
  padding: 6px;
  border-radius: 3.125rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;

  & span:first-of-type {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
