body {
  font-family: var(--ff-primary);

  background-color: var(--clr-background);
  color: var(--clr-gray);
  font-weight: var(--fw-400);
  font-size: var(--fs-text);
}

h1,
h2,
h3 {
  line-height: 1.1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
