.hero::before {
  content: "";
  background: var(--clr-light-white);
  position: absolute;
  top: 0;
  left: 0;
  height: 820px;
  width: 100%;
  max-width: 63%;
  z-index: -1;
}
.hero::after {
  content: "";
  background: var(--clr-cyan);
  position: absolute;
  top: 0;
  right: 0;
  height: 820px;
  width: 100%;
  max-width: 37%;
  z-index: -1;
  background-image: url("../../assets/spa.svg");
  background-repeat: no-repeat;
  background-position-x: -130px;
  background-position-y: 40px;
}

.hero__title {
  color: var(--clr-darkblue);
  font-size: var(--fs-main-title);
  font-weight: var(--fw-700);
  margin-bottom: 2rem;
}
.hero__description {
  margin-bottom: 3.5rem;
}

.hero__container {
  max-width: 50.5625rem;
  margin-bottom: 5.625rem;
}

.hero__cta {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.card-container {
  border-radius: 1rem;
  background-color: white;
  backdrop-filter: blur(1rem);
  padding: 2rem;
  width: fit-content;
}
.card-list {
  display: flex;
  gap: 4.5rem;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card-item__title {
  font-size: var(--fs-subtitle);
  color: var(--clr-darkblue);
}

.card-item__description {
  max-width: 145px;
  text-align: center;
  margin: 0;
}

.card-item__icon-container {
  background-color: var(--clr-cyan);
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
