.header {
  padding: 2.0625rem 0;
  margin-bottom: 5rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 3.5rem;
}

.nav a {
  text-decoration: none;
  color: var(--clr-darkblue);
}

.nav .nav__item:last-child .link {
  display: flex;
  gap: 0.5rem;
}

.icons {
  display: flex;
  gap: 2rem;
}

.icons .icons__icon {
  width: 2rem;
  height: 2rem;
}

.auth {
  display: flex;
  gap: 2rem;
}
